
<div class="container">
    <!-- @if (ViewBag.IsSuccess == true)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Congratulations</strong> You have added new book successfully. <br />
            Click <a asp-controller="Book" asp-action="GetBook" asp-route-id="@ViewBag.bookId">here</a> to view the details
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    } -->
    
    <form  [formGroup]="addForm" (ngSubmit)="onSubmit()">
        <label class="col-form-label" >Full Name:</label>
        <input class="form-control"  formControlName="name" />
        
        <label class="form-label" >Department Name</label>
        <input class="form-control"  formControlName="departmentName" />

        <label class="form-label" >join Date</label>
        <input type="input" class="form-control"   formControlName="joinDate" />
        <label class="form-label" ></label>

        <label class="form-label" >Salary</label>
        <input class="form-control"  formControlName="salary" />
        <label class="form-label" ></label>

        <div class="form-group">
            <button class="submit btn btn-primary">Add</button>
        </div>
       
    </form>
</div>
